---
import Layout from '/src/layouts/Layout.astro';

export async function getStaticPaths() {
  const allPosts = await Astro.glob('/src/pages/**/*.mdx');
  const uniqueTags: any = [
    ...new Set(allPosts.map((item) => item.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag: any) => {
    const filteredPosts = allPosts
      .filter((post) => post.frontmatter.tags.includes(tag))
      .sort(
        (a, b) =>
          new Date(b.frontmatter.date).getTime() -
          new Date(a.frontmatter.date).getTime()
      );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const filteredPosts = Astro.props.posts;
---

<Layout title={`${tag}の一覧`}>
  <section>
    <h1>{tag}についての記事</h1>
    <ul>
      {
        filteredPosts.map((post: any) => (
          <li>
            <a href={post.url}>
              <img
                src={post.frontmatter.image}
                alt={`${post.frontmatter.title}の画像`}
              />
              <h3>{post.frontmatter.title}</h3>
              <p>{post.frontmatter.description}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>

<style>
  section {
    display: grid;
    gap: 1rem;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1rem;
    li a {
      display: grid;
      gap: 0.5rem;
      img {
        width: 100%;
        aspect-ratio: 16/9;
        background: #ccc;
        border-radius: 0.5rem;
      }
      h3 {
        font-size: 1rem;
      }
      p {
        font-size: 0.875rem;
        font-weight: 400;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
</style>
